<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
<table class="table table-boderd">
    <tr>
        <td>username</td>
        <td>age</td>
        <td>gender</td>
    </tr>
    <tr>
        <td>{{ user_list.username }}</td>
        <td>{{ user_list.age }}</td>
        <td>{{ user_list.gender }}</td>
    </tr>
</table>
</body>
</html>